<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Taker</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body class="flex flex-col justify-center h-screen text-center bg-green-400">
    <h1 class="text-4xl text-white">Hello, world!</h1>
    <a href="/notes" class="text-blue-400">Manage Notes Here</a>
  </body>
</html>